<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bystanders.moeta.ones">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ReadingBroadCastActivity" />
        <activity android:name=".activity.EssayActivity" />
        <activity android:name=".activity.SerialActivity" />
        <activity android:name=".activity.QuestionActivity" />

        <service android:name=".service.DiscService">

        </service>
        <receiver android:name=".receiver.DiscReceiver">
            <intent-filter>
                <action android:name="com.bystanders.moeta.ones.completion" />
                <action android:name="com.bystanders.moeta.ones.start" />
                <action android:name="com.bystanders.moeta.ones.pause" />
                <action android:name="com.bystanders.moeta.ones.resume" />
                <action android:name="com.bystanders.moeta.ones.stop" />
            </intent-filter>
        </receiver>

    </application>

</manifest>